<div class="menu-button toggle-menu">
        <div class="burger-box"><hr class="the-burger top-bun"><hr class="the-burger goods"><hr class="the-burger bottom-bun"></div>
    </div>
    <div class="menu flex">
      <div id="menu-peace"><i class="fas fa-peace"></i></div>
          {% for link in linklists[section.settings.main_linklist].links %}
            {% if link.links == blank %}
            <div class="nav-item active">
              <a class="nav-link" href="{{link.url}}">{{link.title}}</a>
            </div>
            {% endif %}

            {% if link.links != blank %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
                <div class="row">
                  {% for childlink in link.links %}
                  <div class="col-4">
                    <div class="dropdown-header">{{childlink.title}}</div>
                    <div class="dropdown-divider"></div>

                     {% for sublink in childlink.links %}
                      <a href="{{sublink.url}}">{{sublink.title}}</a>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% endfor %}

  </div>
</section>
