
<p class="title font-weight-bold">{{ section.settings.title }} <i class="fas fa-star"></i></p>




  {% assign collection = collections[section.settings.collection] %}



  <div class="homepage-products-div flex">

    {% for product in collection.products limit: section.settings.product_limit %}

    <div class="product-item">
      <div class="product-thumb">

        {% if product.compare_at_price and product.compare_at_price != product.price %}
          <span class="bage">Sale</span>
        {% endif %}

        <a class="featured-product-img-link" href="{{product.url}}">
          <img class="img-responsive" src="{{product.featured_image.src | img_url: '1920x'}}">
        </a>

      </div>

      <p class="product-title font-weight-bold"><a href="{{product.url}}">{{product.title}}</a></p>
      <div class="product-content flex">
        <div class="feat-text-div flex">
          <p class="feat-product-description">{{product.description}}</p>
          {% unless product.available %}
            <p class="price font-weight-bold">Sold Out</p>
          {% else %}
            <p class="price font-weight-bold">{{product.price | money}}</p>
          {% endunless %}
        </div>

        <ul class="product-buttons flex">
          <li class="flex"><a class="featured-product-img-link" href="{{product.url}}"><i class="fas fa-eye"></i></a></li>

          <li class="flex">
            <form id="form-{{product.handle}}" method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{product.variants.first.id}}">
              <a onclick="document.getElementById('form-{{product.handle}}').submit()">BUY</a>
            </form>
          </li>
        </ul>

      </div>

    </div> <!-- end product-item -->
    {% endfor %}


  </div>


{% schema %}
  {
    "name": "Homepage Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Products"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "product_limit",
        "label": "Product Limit",
        "min": 1,
        "max": 9,
        "default": 6
      }
    ]
  }
{% endschema %}
